<div class="centrarDiv separacion">
    <img style="width: 15%;" src="https://informaticasoria.com/assets/images/aiso-informatica-soria-home.png" alt="">
</div>

<div class="centrarDiv separacion">
    <h2>Sistemas Microinformatica</h2>
</div>

<div class="centrarDiv separacion">
    <h3>Recursos Humanos</h3>
</div>