<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistemas Microinformatica-Examen</title>

    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        main {
            width: 500px;
            height: auto;
            background-color: bisque;
        }

        .centrarDiv {
            display: grid;
            place-items: center;
        }

        .separacion {
            margin-top: 1em;
            margin-bottom: 1em;
        }

        .contenido {
            background-color: rgb(107, 141, 255);
            border: 1px solid black;
        }
    </style>
</head>

<body class="d-flex flex-column justify-content-center align-items-center" >

    <main class="container">

        <%-include('partials/header.html');%>

        <%-include('partials/navBar.html');%>
        <div class="contenido">
            <div class="row justify-content-center mt-3">
                <div class="col-md-6">
                    <form action="/PaginaSalida" method="p">
                        <div class="form-group">
                            <label for="NumContacto">Numero de Contrato:</label>
                            <input id="NumContrato" name="NumContrato" type="number" required="true" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="Nombre">Nombre:</label>
                            <input id="Nombre" name="Nombre" type="text" required="true" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="Domicilio">Domicilio:</label>
                            <input id="Domicilio" name="Domicilio" type="text" required="true" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="NivelDeEstudios">Nivel de Estudios:</label>
                            <select name="NivelDeEstudios" id="NivelDeEstudios" value="" required="true"
                                class="form-control">
                                <option value="Licenciatura">Licenciatura</option>
                                <option value="Maestria">Maestria</option>
                                <option value="Doctorado">Doctorado</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="PagoDiario">Pago Diario Base:</label>
                            <input id="PagoDiario" name="PagoDiario" type="number" required="true" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="DiasTrabajados">Dias Trabajados:</label>
                            <input id="DiasTrabajados" name="DiasTrabajados" type="number" required="true"
                                class="form-control">
                        </div>

                        <div class="d-flex justify-content-center mt-3">
                            <button type="submit" class="btn btn-primary mr-3">Enviar</button>
                            <button type="reset" class="btn btn-secondary">Limpiar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <hr>
        
        <%-include('partials/footer.html'); %>
    </main>
</body>
</html>